body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#content {
    display: grid;
    grid-template-columns: auto 7fr;
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

header, footer {
    background-color: #226ce0;
    width: 100%
}

h1 {
    font-size: 2.5rem;
    padding: 1rem;
    padding-left: 2rem;
}

footer {
    text-align: center;
}

.homeNav {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #1B1725;
    color: #f5f5f5;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.default-buttons-div {
    display: flex;
    flex-direction: column
}

#contentDisplay {
    background-color: #D0BCD5;
}

h2 {
    font-size: 2rem
}

.default-buttons-div > button {
    color: #f5f5f5;
    background-color: #1B1725;
    border: none;
    text-align: left;
    font-size: 1.75rem;
    padding: 1rem
}

.newItem {
    color: #f5f5f5;
    background-color: #D0BCD5;
    border: none;
    border-radius: 20%;
    text-align: left;
    font-size: 1.75rem;
    padding: 1rem;
    bottom: 10;
    margin-top: auto;
    align-self: flex-start;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modalcontent {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.task {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.task > div {
    font-size: 1.5rem
}

#tasks-container {
    margin: 10%
}